@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200&display=swap');

html, body {
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: black;
    height: 60px;
    border-bottom: 1px inset rgb(230, 200, 155);
}

#logo {
    position: relative;
    margin-left: 40px;
    color: white;
    font-family: "Train One";
    animation-name: logoFade;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes logoFade {
    0% {
        margin-left: -50px;
        opacity: 0;
    }   
    100% {
        margin-left: 40px;
        opacity: 1;
    }
}

#navbar ul {
    position: relative;
    display: flex; 
    justify-content: right;
    animation-name: navFade;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes navFade {
    0% {
        right: 0px;
        opacity: 0;
    }
    100% {
        right: 40px;
        opacity: 1;
    }
}

#navbar ul li {
    margin-right: 40px;
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#navbar ul li a {
    color: white;
    text-decoration: none;
    display: inline-block;
    cursor: crosshair;
}

#navbar ul li a:hover {
    color: rgb(255,50, 80);
}

#home {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    animation-name: background-fill;
    border-bottom: 2px solid rgb(218, 27, 50);
}

#home .center-text {
    position: relative;
    z-index: 1;
    border: 1px solid rgb(255,50, 80);
    border-radius: 50%;
    height: 650px;
    width: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    letter-spacing: 3px;
}

#home .center-text:hover {
    animation: magentaFill 1s forwards;
}

@keyframes magentaFill {
    100% {
        background-color: rgb(218, 27, 50);
        cursor: pointer;
    }
}

#home .blue {
    position: absolute;
    border: 1px solid rgb(100, 120, 240);
    z-index: 0;
    right: 635px;
    border-radius: 50%;
    height: 650px;
    width: 650px;
    animation-name: blueMove;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes blueMove {
    0% {
        opacity: .4;
        right: 635px;
    }
    50% {
        opacity: 1;
        right: 0px;
    }
}

#home .yellow {
    position: absolute;
    z-index: 0;
    left: 635px;
    border: 1px solid gold;
    border-radius: 50%;
    height: 650px;
    width: 650px;
    animation-name: yellowMove;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-fill-mode:forwards;
}

@keyframes yellowMove {
    0% {
        opacity: .4;
        left: 635px;
    }
    50% {
        opacity: 1;
        left: 0px;
    }
}

/*#home .yellow:hover {
    /*add loading animation to hover animation so that the load animation doesn't restart
    animation: yellowMove 2s 1, fillYellow 1s forwards;
}*/

#home .center-text h1 {
    color:rgb(103, 245, 210);
    position: relative;
    z-index: 2;
    margin-top: 180px;
    font-family:"Bebas Neue";
    text-align: center;
    font-size: 70px;
    line-height: 75px;
    text-shadow: 4px 6px 1px rgb(46, 37, 37);
    margin-bottom: 0px;
    animation-name: devName;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-duration: 2s;
}

@keyframes devName {
    0% {
        top: -25px;
        opacity: 0;
    }
    100% {
        top: 0px;
        opacity: 1;
    }
}

#home .center-text p {
    position: relative;
    bottom: 0px;
    color: white;
    text-shadow: 4px 2px 3px black;
    font-family: "RocknRoll One";
    font-size: 35px;
    text-align: center;
    letter-spacing: 4px;
    animation: pTagFade;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

@keyframes pTagFade {
    0% {
        bottom: -30px;
        opacity: 0;
    }
    100% {
        bottom: 0px;
        opacity: 1;
    }
}

#about {
    height: 100vh;
    /*background-color: rgb(255, 238, 47);*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid rgb(100, 120, 240);
}

.circular-image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    box-shadow: 5px 5px 8px black;
    opacity: .4;
}

.circular-image img {
    width: 100%;
}

.circular-image:hover {
    animation: imgRotate 2s forwards;
}

@keyframes imgRotate {
    100% {
        opacity: 1;
        transform: rotate(360deg);
    }
}

#about .welcome {
    position: relative;
    font-family: "Bungee Shade";
    color: rgb(48, 34, 128);
    font-size: 26px;
    width: 450px;
    letter-spacing: 3px;
}

article {
    width: 600px;
    letter-spacing: 3px;
    text-align: center;
}

article h2 {
    position: relative;
    font-family: "Bebas Neue";
    letter-spacing: 5px;
}

article p {
    font-size: 22px;
    font-family: "Mukta";
    letter-spacing: 3px;
    color: rgb(37, 9, 31);
    
}

#projects {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(248, 248, 71);
    border-bottom: 1px solid rgb(240, 100, 135);
    height: 100vh;
}

/*.project-display {
    display: flex;
    justify-content: space-around;
    align-items: center;
}*/

.project-message {
    font-family: "Bungee Shade";
    color: rgb(218, 27, 50);
    font-size: 35px;
    width: 450px;
    letter-spacing: 3px;
}

.space {
    width: 600px;
}

#project1{
    height: 400px;
    width: 400px;;
}

#project1 form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 350px;
    font-family: "Mukta";
    font-size: 30px;
    font-weight: bold;
}

input {
    border-radius: 8px;
    outline: none;
}

#contact {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
    background-color: rgb(50, 50, 50);
}

.contact-header h2{
    font-family:"Rubik", sans-serif;
    font-size: 40px;
    margin-bottom: 0px;
}

.contact-header p{
    font-family:"Noto Sans", sans-serif;
    font-size: 30px;
    text-align: center;
    margin-top: 0px;
}

.contact-links{
    font-family: "Noto Sans", sans-serif;
    display:flex;
    justify-content: space-around;
    width: 50vw; 
    font-size: 25px;
}

.contact-links a{
    text-decoration: none;
    color: rgb(64, 52, 224);
    display: inline-block;
    letter-spacing: 4px;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    border: 1px solid black;
    padding: 8px;
    box-shadow: 4px 6px 1px rgb(46, 37, 37);
}

.contact-links a:hover{
    position:relative;
    animation-name:drop;
    animation-duration: 200ms;
    animation-iteration-count:1;
    animation-fill-mode: forwards;
}

@keyframes drop{
    0%{
        top:0px;
    }
    100%{
        top:10px;
    }
}

@media only screen and (max-width: 1366px) {

    header {
        height: 45px;
    }

    #home {
        padding-top: 30px;
    }

    #home .center-text {
        height: 500px;
        width: 500px;
    }
    
    #home .blue {
        position: absolute;
        border: 1px solid rgb(100, 120, 240);
        z-index: 0;
        right: 425px;
        border-radius: 50%;
        height: 500px;
        width: 500px;
        animation-name: blueMove;
        animation-duration: 4s;
        animation-iteration-count: infinite;
    }

    
    @keyframes blueMove {
        0% {
            opacity: .4;
            right: 425px;
        }
        50% {
            opacity: 1;
            right: 0px;
        }
    }

    #home .yellow {
        position: absolute;
        z-index: 0;
        left: 425px;
        border: 1px solid gold;
        border-radius: 50%;
        height: 500px;
        width: 500px;
        animation-name: yellowMove;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-fill-mode:forwards;
    }

    @keyframes yellowMove {
        0% {
            opacity: .4;
            left: 425px;
        }
        50% {
            opacity: 1;
            left: 0px;
        }
    }

    #home .center-text h1 {
        color:rgb(103, 245, 210);
        position: relative;
        z-index: 2;
        margin-top: 100px;
        font-family:"Bebas Neue";
        text-align: center;
        font-size: 70px;
        line-height: 75px;
        text-shadow: 4px 6px 1px rgb(46, 37, 37);
        margin-bottom: 0px;
        animation-name: devName;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
        animation-duration: 2s;
    }

    @keyframes devName {
        0% {
            top: -25px;
            opacity: 0;
        }
        100% {
            top: 0px;
            opacity: 1;
        }
    }

    #home .center-text p {
        position: relative;
        bottom: 0px;
        color: white;
        text-shadow: 4px 2px 3px black;
        font-family: "RocknRoll One";
        font-size: 30px;
        text-align: center;
        letter-spacing: 4px;
        animation: pTagFade;
        animation-duration: 2s;
        animation-iteration-count: 1;
    }

    @keyframes pTagFade {
        0% {
            bottom: -30px;
            opacity: 0;
        }
        100% {
            bottom: 0px;
            opacity: 1;
        }
    }

    #about .welcome {
        font-size: 18px;
        width: 330px;
    }

    article {
        width: 450px;
    }

    article h2 {
        font-size: 20px;
    }

    article p {
        font-size: 18px;
    }

    .circular-image {
        width: 280px;
        height: 280px;
    }
    
    .project-message {
        font-size: 30px;
        width: 420px;
    }

    #project1{
        height: 350px;
        width: 350px;;
    }

    #project1 form {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 330px;
        font-family: "Mukta";
        font-size: 25px;
        font-weight: bold;
    }

    .space {
        width: 240px;
    }
    
    .contact-header h2{
        font-family:"Bebas Neue", sans-serif;
        font-size: 40px;
        color: rgb(255,255,255);
        text-shadow: 4px 6px 1px rgb(46, 37, 37);
        margin-bottom: 0px;
    }
    
    .contact-header p{
        font-family:"Noto Sans", sans-serif;
    }
    
    .contact-links{
        font-family: "Bebas Neue", sans-serif;
    }
    
    .contact-links a{
        color: rgb(64, 52, 224);
        text-shadow: 1px 1px 2px rgb(0, 0, 0);
    }
    
}











